<table class="table table-bordered">
    <tbody>
        <tr id="481" >
            <td class="time" value="1215">12:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="482" >
            <td class="time" value="1230">12:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="483" >
            <td class="time" value="1245">12:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="484" >
            <td class="time" value="0100">1:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="485" >
            <td class="time" value="0115">1:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="486" >
            <td class="time" value="0130">1:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="487" >
            <td class="time" value="0145">1:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="488" >
            <td class="time" value="0200">2:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="489" >
            <td class="time" value="0215">2:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="490">
            <td class="time"  value="0230">2:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="491">
            <td class="time"  value="0245">2:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="492">
            <td class="time"  value="0300">3:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="493">
            <td class="time"  value="0315">3:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="494">
            <td class="time"  value="0330">3:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="495">
            <td class="time"  value="0345">3:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="496">
            <td class="time"  value="0400">4:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="497">
            <td class="time"  value="0415">4:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="498">
            <td class="time"  value="0430">4:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="499">
            <td class="time"  value="0445">4:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="500">
            <td class="time"  value="0500">5:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="501">
            <td class="time"  value="0515">5:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="502">
            <td class="time"  value="0530">5:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="503">
            <td class="time"  value="0545">5:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="504">
            <td class="time activity"  value="0600">6:00 am</td>
            <td class="has-activity mindful" rowspan="2">
                <span class="description">Mindfulness - Yoga - 30 mins</span>
            </td>
        </tr>
        <tr id="505">
            <td class="time"  value="0615">6:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="506">
            <td class="time"  value="0630">6:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="507">
            <td class="time"  value="0645">6:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="508">
            <td class="time"  value="0700">07:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="509">
            <td class="time"  value="0715">7:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="510">
            <td class="time"  value="0730">07:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="511">
            <td class="time"  value="0745">07:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="512">
            <td class="time"  value="0800">08:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="513">
            <td class="time"  value="0815">08:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="514">
            <td class="time"  value="0830">08:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="515">
            <td class="time"  value="0845">08:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="516">
            <td class="time"  value="0900">9:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="517">
            <td class="time"  value="0910">9:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="518">
            <td class="time"  value="0930">9:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="519">
            <td class="time"  value="0945">09:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="520">
            <td class="time"  value="1000">10:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="521">
            <td class="time"  value="1015">10:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="522">
            <td class="time"  value="1030">10:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="523">
            <td class="time"  value="1045">10:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="524">
            <td class="time"  value="1100">11:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="525">
            <td class="time"  value="1115">11:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="526">
            <td class="time"  value="1130">11:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="527">
            <td class="time"  value="1145">11:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="528">
            <td class="time"  value="1200">12:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="529">
            <td class="time"  value="1215">12:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="530">
            <td class="time"  value="1230">12:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="531">
            <td class="time"  value="1245">12:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="532">
            <td class="time"  value="1300">1:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="533">
            <td class="time"  value="1315">1:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="534">
            <td class="time"  value="1330">1:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="535">
            <td class="time"  value="1345">1:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="536">
            <td class="time"  value="1400">2:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="537">
            <td class="time"  value="1415">2:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="538">
            <td class="time"  value="1430">2:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="539">
            <td class="time"  value="1445">2:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="540">
            <td class="time"  value="1500">3:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="541">
            <td class="time"  value="1515">3:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="542">
            <td class="time"  value="1530">3:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="543">
            <td class="time"  value="1545">3:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="544">
            <td class="time"  value="1600">4:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="545">
            <td class="time"  value="1615">4:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="546">
            <td class="time"  value="1630">4:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="547">
            <td class="time"  value="1645">4:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="548">
            <td class="time"  value="1700">5:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="549">
            <td class="time"  value="1715">5:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="550">
            <td class="time"  value="1730">5:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="551">
            <td class="time"  value="1745s">5:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="552">
            <td class="time"  value="1800">6:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="553">
            <td class="time"  value="1815">6:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="554">
            <td class="time"  value="1830">6:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="555">
            <td class="time"  value="1845">6:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="556">
            <td class="time"  value="1900">7:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="557">
            <td class="time"  value="1915">7:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="558">
            <td class="time"  value="1930">7:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="559">
            <td class="time"  value="1945">7:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="560">
            <td class="time"  value="2000">8:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="561">
            <td class="time"  value="2015">8:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="562">
            <td class="time"  value="2030">8:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="563">
            <td class="time"  value="2045">8:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="564">
            <td class="time"  value="2100">9:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="565">
            <td class="time"  value="2115">9:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="566">
            <td class="time"  value="2130">9:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="567">
            <td class="time"  value="2145">9:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="568">
            <td class="time"  value="2200">10:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="569">
            <td class="time"  value="2215">10:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="570">
            <td class="time"  value="2230">10:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="571">
            <td class="time"  value="2245">10:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="572">
            <td class="time"  value="2300">11:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="573">
            <td class="time"  value="2315">11:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="574">
            <td class="time"  value="2330">11:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="575">
            <td class="time"  value="2345">11:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="576">
            <td class="time"  value="0000">12:00 am</td>
            <td class="no-activity"></td>
        </tr>
    </tbody>
</table>