<table class="calendar table table-bordered">

    <tbody>
        <tr>
            <tr>
            <td>06:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>06:15</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>06:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>06:45</td>
            <td class="no-events"></td>
        </tr>
            <td>07:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>07:15</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>07:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>07:45</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>08:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>08:15</td>
            <td class="has-events">
                <div class="row-fluid activity" style="width: 100%; height: 100%;"></div>
                <span class="title">Combinatorics</span>
                <span class="lecturer"><a>Prof.Someone</a></span>
                <span class="location">23/111</span>
                </div>
            </td>
        </tr>

        <tr>
            <td>08:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>08:45</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>09:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>09:15</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>09:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>09:45</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>10:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>10:15</td>
            <td class="no-events"></td>
        </tr>

        <tr>
            <td>10:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>10:45</td>
            <td class="no-events"></td>
        </tr>
        
        <tr>
            <td>11:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>11:15</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>11:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>11:45</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>12:00</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>12:15</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>12:30</td>
            <td class="no-events"></td>
        </tr>
        <tr>
            <td>12:45</td>
            <td class="no-events"></td>
        </tr>

    </tbody>
</table>
