<table class="table table-bordered">

    <tbody>
        <tr>
            <td class="time">06:00</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">06:15</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">06:30</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">06:45</td>
            <td class="no-activity"></td>
        </tr>
        <td class="time">07:00</td>
        <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">07:15</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">07:30</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">07:45</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">08:00</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">08:15</td>
            <td class="no-activity"></td>
        </tr>

        <tr>
            <div class="activity">
                <td class="time">08:30</td>
                <td class="has-activity academic" rowspan="2" id="2">
                    <span class="category-type">Academic - </span>
                    <span class="activity-type">Watch online handlebars tutorial - </span>
                    <span class="activity-duration">30 mins</span>
                </td>
            </div>
        </tr>
        <tr>
            <td class="time">08:45</td>
            <td class="no-activity" hidden></td>
        </tr>
        <tr>
            <td class="time">09:00</td>
            <td class="no-activity" ></td>
        </tr>
        <tr>
            <td class="time">09:15</td>
            <td class="no-activity" ></td>
        </tr>
        <tr>
            <div class="activity">
                <td class="time">09:30</td>
                <td class="has-activity academic" rowspan="4" id="2">
                    <span class="category-type">Academic - </span>
                    <span class="activity-type">Read Ch. 3 - </span>
                    <span class="activity-duration">1 hr</span>
                </td>
            </div>
        </tr>
        <tr>
            <td class="time">09:45</td>
            <td class="no-activity" hidden></td>
        </tr>
        <tr>
            <td class="time">10:00</td>
            <td class="no-activity" hidden></td>
        </tr>
        <tr>
            <td class="time">10:15</td>
            <td class="no-activity" hidden></td>
        </tr>

        <tr>
            <td class="time">10:30</td>
            <td class="no-activity" ></td>
        </tr>
        <tr>
            <td class="time">10:45</td>
            <td class="no-activity" ></td>
        </tr>

        <tr>
            <td class="time">11:00</td>
            <td class="no-activity" ></td>
        </tr>
        <tr>
            <td class="time">11:15</td>
            <td class="no-activity" ></td>
        </tr>
        <tr>
            <td class="time">11:30</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">11:45</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">12:00</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">12:15</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">12:30</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time">12:45</td>
            <td class="no-activity"></td>
        </tr>

    </tbody>
</table>