<table class="table table-bordered">
    <tbody>
        <tr id="97" >
            <td class="time" value="1215">12:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="98" >
            <td class="time" id="10098"value="1230">12:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="99" >
            <td class="time" value="1245">12:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="100" >
            <td class="time" value="0100">1:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="101" >
            <td class="time" value="0115">1:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="102" >
            <td class="time" value="0130">1:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="103" >
            <td class="time" value="0145">1:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="104" >
            <td class="time" value="0200">2:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="105" >
            <td class="time" value="0215">2:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="106">
            <td class="time"  value="0230">2:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="107">
            <td class="time"  value="0245">2:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="108">
            <td class="time"  value="0300">3:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="109">
            <td class="time"  value="0315">3:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="110">
            <td class="time"  value="0330">3:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="111">
            <td class="time"  value="0345">3:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="112">
            <td class="time"  value="0400">4:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="113">
            <td class="time"  value="0415">4:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="114">
            <td class="time"  value="0430">4:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="115">
            <td class="time"  value="0445">4:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="116">
            <td class="time"  value="0500">5:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="117">
            <td class="time"  value="0515">5:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="118">
            <td class="time"  value="0530">5:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="119">
            <td class="time"  value="0545">5:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="120">
            <td class="time activity"  value="0600">6:00 am</td>
            <td class="has-activity mindful" rowspan="2">
                <span class="description">Mindfulness - Yoga - 30 mins</span>
            </td>
        </tr>
        <tr id="121">
            <td class="time"  value="0615">6:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="122">
            <td class="time"  value="0630">6:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="123">
            <td class="time"  value="0645">6:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="124">
            <td class="time"  value="0700">07:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="125">
            <td class="time"  value="0715">7:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="126">
            <td class="time"  value="0730">07:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="127">
            <td class="time"  value="0745">07:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="128">
            <td class="time"  value="0800">08:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="129">
            <td class="time"  value="0815">08:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="130">
            <td class="time"  value="0830">08:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="131">
            <td class="time"  value="0845">08:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="132">
            <td class="time"  value="0900">9:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="133">
            <td class="time"  value="0910">9:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="134">
            <td class="time"  value="0930">9:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="135">
            <td class="time"  value="0945">09:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="136">
            <td class="time"  value="1000">10:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="137">
            <td class="time"  value="1015">10:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="138">
            <td class="time"  value="1030">10:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="139">
            <td class="time"  value="1045">10:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="140">
            <td class="time"  value="1100">11:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="141">
            <td class="time"  value="1115">11:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="142">
            <td class="time"  value="1130">11:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="143">
            <td class="time"  value="1145">11:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="144">
            <td class="time"  value="1200">12:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="145">
            <td class="time"  value="1215">12:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="146">
            <td class="time"  value="1230">12:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="147">
            <td class="time"  value="1245">12:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="148">
            <td class="time"  value="1300">1:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="149">
            <td class="time"  value="1315">1:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="150">
            <td class="time"  value="1330">1:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="151">
            <td class="time"  value="1345">1:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="152">
            <td class="time"  value="1400">2:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="153">
            <td class="time"  value="1415">2:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="154">
            <td class="time"  value="1430">2:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="155">
            <td class="time"  value="1445">2:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="156">
            <td class="time"  value="1500">3:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="157">
            <td class="time"  value="1515">3:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="158">
            <td class="time"  value="1530">3:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="159">
            <td class="time"  value="1545">3:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="160">
            <td class="time"  value="1600">4:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="161">
            <td class="time"  value="1615">4:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="162">
            <td class="time"  value="1630">4:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="163">
            <td class="time"  value="1645">4:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="164">
            <td class="time"  value="1700">5:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="165">
            <td class="time"  value="1715">5:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="166">
            <td class="time"  value="1730">5:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="167">
            <td class="time"  value="1745">5:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="168">
            <td class="time"  value="1800">6:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="169">
            <td class="time"  value="1815">6:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="170">
            <td class="time"  value="1830">6:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="171">
            <td class="time"  value="1845">6:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="172">
            <td class="time"  value="1900">7:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="173">
            <td class="time"  value="1915">7:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="174">
            <td class="time"  value="1930">7:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="175">
            <td class="time"  value="1945">7:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="176">
            <td class="time"  value="2000">8:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="177">
            <td class="time"  value="2015">8:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="178">
            <td class="time"  value="2030">8:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="179">
            <td class="time"  value="2045">8:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="180">
            <td class="time"  value="2100">9:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="181">
            <td class="time"  value="2115">9:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="182">
            <td class="time"  value="2130">9:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="183">
            <td class="time"  value="2145">9:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="184">
            <td class="time"  value="2200">10:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="185">
            <td class="time"  value="2215">10:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="186">
            <td class="time"  value="2230">10:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="187">
            <td class="time"  value="2245">10:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="188">
            <td class="time"  value="2300">11:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="189">
            <td class="time"  value="2315">11:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="190">
            <td class="time"  value="2330">11:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="191">
            <td class="time"  value="2345">11:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="192">
            <td class="time"  value="0000">12:00 am</td>
            <td class="no-activity"></td>
        </tr>
    </tbody
</table>