<table class="table table-bordered">
    <tbody>
        <tr id="577" >
            <td class="time" value="1215">12:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="578" >
            <td class="time" value="1230">12:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="579" >
            <td class="time" value="1245">12:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="580" >
            <td class="time" value="0100">1:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="581" >
            <td class="time" value="0115">1:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="582" >
            <td class="time" value="0130">1:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="583" >
            <td class="time" value="0145">1:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="584" >
            <td class="time" value="0200">2:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="585" >
            <td class="time" value="0215">2:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="586">
            <td class="time"  value="0230">2:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="587">
            <td class="time"  value="0245">2:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="588">
            <td class="time"  value="0300">3:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="589">
            <td class="time"  value="0315">3:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="590">
            <td class="time"  value="0330">3:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="591">
            <td class="time"  value="0345">3:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="592">
            <td class="time"  value="0400">4:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="593">
            <td class="time"  value="0415">4:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="594">
            <td class="time"  value="0430">4:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="595">
            <td class="time"  value="0445">4:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="596">
            <td class="time"  value="0500">5:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="597">
            <td class="time"  value="0515">5:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="598">
            <td class="time"  value="0530">5:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="599">
            <td class="time"  value="0545">5:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="600">
            <td class="time"  value="0600">6:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="601">
            <td class="time"  value="0615">6:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="602">
            <td class="time"  value="0630">6:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="603">
            <td class="time"  value="0645">6:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="604">
            <td class="time"  value="0700">7:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="605">
            <td class="time"  value="0715">7:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="606">
            <td class="time"  value="0730">7:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="607">
            <td class="time"  value="0745">7:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="608">
            <td class="time"  value="0800">8:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="609">
            <td class="time"  value="0815">8:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="610">
            <td class="time"  value="0830">8:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="611">
            <td class="time"  value="0845">8:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="612">
            <td class="time"  value="0900">9:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="613">
            <td class="time"  value="0910">9:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="614">
            <td class="time"  value="0930">9:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="615">
            <td class="time"  value="0945">09:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="616">
            <td class="time"  value="1000">10:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="617">
            <td class="time"  value="1015">10:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="618">
            <td class="time"  value="1030">10:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="619">
            <td class="time"  value="1045">10:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="620">
            <td class="time"  value="1100">11:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="621">
            <td class="time"  value="1115">11:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="622">
            <td class="time"  value="1130">11:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="623">
            <td class="time"  value="1145">11:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="624">
            <td class="time"  value="1200">12:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="625">
            <td class="time"  value="1215">12:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="626">
            <td class="time"  value="1230">12:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="627">
            <td class="time"  value="1245">12:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="628">
            <td class="time"  value="1300">1:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="629">
            <td class="time"  value="1315">1:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="630">
            <td class="time"  value="1330">1:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="631">
            <td class="time"  value="1345">1:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="632">
            <td class="time"  value="1400">2:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="633">
            <td class="time"  value="1415">2:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="634">
            <td class="time"  value="1430">2:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="635">
            <td class="time"  value="1445">2:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="636">
            <td class="time"  value="1500">3:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="637">
            <td class="time"  value="1515">3:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="638">
            <td class="time"  value="1530">3:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="639">
            <td class="time"  value="1545">3:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="640">
            <td class="time"  value="1600">4:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="641">
            <td class="time"  value="1615">4:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="642">
            <td class="time"  value="1630">4:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="643">
            <td class="time"  value="1645">4:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="644">
            <td class="time"  value="1700">5:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="645">
            <td class="time"  value="1715">5:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="646">
            <td class="time"  value="1730">5:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="647">
            <td class="time"  value="1745s">5:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="648">
            <td class="time"  value="1800">6:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="649">
            <td class="time"  value="1815">6:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="650">
            <td class="time"  value="1830">6:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="651">
            <td class="time"  value="1845">6:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="652">
            <td class="time"  value="1900">7:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="653">
            <td class="time"  value="1915">7:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="654">
            <td class="time"  value="1930">7:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="655">
            <td class="time"  value="1945">7:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="656">
            <td class="time"  value="2000">8:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="657">
            <td class="time"  value="2015">8:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="658">
            <td class="time"  value="2030">8:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="659">
            <td class="time"  value="2045">8:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="660">
            <td class="time"  value="2100">9:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="661">
            <td class="time"  value="2115">9:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="662">
            <td class="time"  value="2130">9:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="663">
            <td class="time"  value="2145">9:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="664">
            <td class="time"  value="2200">10:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="665">
            <td class="time"  value="2215">10:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="666">
            <td class="time"  value="2230">10:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="667">
            <td class="time"  value="2245">10:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="668">
            <td class="time"  value="2300">11:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="669">
            <td class="time"  value="2315">11:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="670">
            <td class="time"  value="2330">11:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="671">
            <td class="time"  value="2345">11:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="672">
            <td class="time"  value="0000">12:00 am</td>
            <td class="no-activity"></td>
        </tr>
    </tbody>
</table>