<div class="timedropdown" style="margin-left:auto; margin-top:5%;">
    <span class='span5' style="border-radius: 10%; margin-left:auto;">Sleep Start Time</span>
    <select class="browser-default" style="font-size: large;"  name='sleepStartTime'  id='sleepStartTime'>
        <option selected>Start Time</option>
        <option value="0000">12:00 AM</option>
        <option value="0015">12:15 AM</option>
        <option value="0030">12:30 AM</option>
        <option value="0045">12:45 AM</option>
        <option value="0100">1:00 AM</option>
        <option value="0115">1:15 AM</option>
        <option value="0130">1:30 AM</option>
        <option value="0145">1:45 AM</option>
        <option value="0200">2:00 AM</option>
        <option value="0215">2:15 AM</option>
        <option value="0230">2:30 AM</option>
        <option value="0245">2:45 AM</option>
        <option value="0300">3:00 AM</option>
        <option value="0315">3:15 AM</option>
        <option value="0330">3:30 AM</option>
        <option value="0345">3:45 AM</option>
        <option value="0400">4:00 AM</option>
        <option value="0415">4:15 AM</option>
        <option value="0430">4:30 AM</option>
        <option value="0445">4:45 AM</option>
        <option value="0500">5:00 AM</option>
        <option value="0515">5:15 AM</option>
        <option value="0530">5:30 AM</option>
        <option value="0545">5:45 AM</option>
        <option value="0600">6:00 AM</option>
        <option value="0615">6:15 AM</option>
        <option value="0630">6:30 AM</option>
        <option value="0645">6:45 AM</option>
        <option value="0700">7:00 AM</option>
        <option value="0715">7:15 AM</option>
        <option value="0730">7:30 AM</option>
        <option value="0745">7:45 AM</option>
        <option value="0800">8:00 AM</option>
        <option value="0815">8:15 AM</option>
        <option value="0830">8:30 AM</option>
        <option value="0845">8:45 AM</option>
        <option value="0900">9:00 AM</option>
        <option value="0915">9:15 AM</option>
        <option value="0930">9:30 AM</option>
        <option value="0945">9:45 AM</option>
        <option value="1000">10:00 AM</option>
        <option value="1015">10:15 AM</option>
        <option value="1030">10:30 AM</option>
        <option value="1045">10:45 AM</option>
        <option value="1100">11:00 AM</option>
        <option value="1115">11:15 AM</option>
        <option value="1130">11:30 AM</option>
        <option value="1145">11:45 AM</option>
        <option value="1200">12:00 PM</option>
        <option value="1215">12:15 PM</option>
        <option value="1230">12:30 PM</option>
        <option value="1245">12:45 PM</option>
        <option value="1300">1:00 PM</option>
        <option value="1315">1:15 PM</option>
        <option value="1330">1:30 PM</option>
        <option value="1345">1:45 PM</option>
        <option value="1400">2:00 PM</option>
        <option value="1415">2:15 PM</option>
        <option value="1430">2:30 PM</option>
        <option value="1445">2:45 PM</option>
        <option value="1500">3:00 PM</option>
        <option value="1515">3:15 PM</option>
        <option value="1530">3:30 PM</option>
        <option value="1545">3:45 PM</option>
        <option value="1600">4:00 PM</option>
        <option value="1615">4:15 PM</option>
        <option value="1630">4:30 PM</option>
        <option value="1645">4:45 PM</option>
        <option value="1700">5:00 PM</option>
        <option value="1715">5:15 PM</option>
        <option value="1730">5:30 PM</option>
        <option value="1745">5:45 PM</option>
        <option value="1800">6:00 PM</option>
        <option value="1815">6:15 PM</option>
        <option value="1830">6:30 PM</option>
        <option value="1845">6:45 PM</option>
        <option value="1900">7:00 PM</option>
        <option value="1915">7:15 PM</option>
        <option value="1930">7:30 PM</option>
        <option value="1945">7:45 PM</option>
        <option value="2000">8:00 PM</option>
        <option value="2015">8:15 PM</option>
        <option value="2030">8:30 PM</option>
        <option value="2045">8:45 PM</option>
        <option value="2100">9:00 PM</option>
        <option value="2115">9:15 PM</option>
        <option value="2130">9:30 PM</option>
        <option value="2145">9:45 PM</option>
        <option value="2200">10:00 PM</option>
        <option value="2215">10:15 PM</option>
        <option value="2230">10:30 PM</option>
        <option value="2245">10:45 PM</option>
        <option value="2300">11:00 PM</option>
        <option value="2315">11:15 PM</option>
        <option value="2330">11:30 PM</option>
        <option value="2345">11:45 PM</option>
    </select>

    <span  class='span5' >Sleep End Time</span>
    <select class="browser-default custom-select1" style="border-radius: 10; font-size:large;" name='sleepEndTime'  id='sleepEndTime'>
        <option selected>End Time</option>
        <option value="0000">12:00 AM</option>
        <option value="0015">12:15 AM</option>
        <option value="0030">12:30 AM</option>
        <option value="0045">12:45 AM</option>
        <option value="0100">1:00 AM</option>
        <option value="0115">1:15 AM</option>
        <option value="0130">1:30 AM</option>
        <option value="0145">1:45 AM</option>
        <option value="0200">2:00 AM</option>
        <option value="0215">2:15 AM</option>
        <option value="0230">2:30 AM</option>
        <option value="0245">2:45 AM</option>
        <option value="0300">3:00 AM</option>
        <option value="0315">3:15 AM</option>
        <option value="0330">3:30 AM</option>
        <option value="0345">3:45 AM</option>
        <option value="0400">4:00 AM</option>
        <option value="0415">4:15 AM</option>
        <option value="0430">4:30 AM</option>
        <option value="0445">4:45 AM</option>
        <option value="0500">5:00 AM</option>
        <option value="0515">5:15 AM</option>
        <option value="0530">5:30 AM</option>
        <option value="0545">5:45 AM</option>
        <option value="0600">6:00 AM</option>
        <option value="0615">6:15 AM</option>
        <option value="0630">6:30 AM</option>
        <option value="0645">6:45 AM</option>
        <option value="0700">7:00 AM</option>
        <option value="0715">7:15 AM</option>
        <option value="0730">7:30 AM</option>
        <option value="0745">7:45 AM</option>
        <option value="0800">8:00 AM</option>
        <option value="0815">8:15 AM</option>
        <option value="0830">8:30 AM</option>
        <option value="0845">8:45 AM</option>
        <option value="0900">9:00 AM</option>
        <option value="0915">9:15 AM</option>
        <option value="0930">9:30 AM</option>
        <option value="0945">9:45 AM</option>
        <option value="1000">10:00 AM</option>
        <option value="1015">10:15 AM</option>
        <option value="1030">10:30 AM</option>
        <option value="1045">10:45 AM</option>
        <option value="1100">11:00 AM</option>
        <option value="1115">11:15 AM</option>
        <option value="1130">11:30 AM</option>
        <option value="1145">11:45 AM</option>
        <option value="1200">12:00 PM</option>
        <option value="1215">12:15 PM</option>
        <option value="1230">12:30 PM</option>
        <option value="1245">12:45 PM</option>
        <option value="1300">1:00 PM</option>
        <option value="1315">1:15 PM</option>
        <option value="1330">1:30 PM</option>
        <option value="1345">1:45 PM</option>
        <option value="1400">2:00 PM</option>
        <option value="1415">2:15 PM</option>
        <option value="1430">2:30 PM</option>
        <option value="1445">2:45 PM</option>
        <option value="1500">3:00 PM</option>
        <option value="1515">3:15 PM</option>
        <option value="1530">3:30 PM</option>
        <option value="1545">3:45 PM</option>
        <option value="1600">4:00 PM</option>
        <option value="1615">4:15 PM</option>
        <option value="1630">4:30 PM</option>
        <option value="1645">4:45 PM</option>
        <option value="1700">5:00 PM</option>
        <option value="1715">5:15 PM</option>
        <option value="1730">5:30 PM</option>
        <option value="1745">5:45 PM</option>
        <option value="1800">6:00 PM</option>
        <option value="1815">6:15 PM</option>
        <option value="1830">6:30 PM</option>
        <option value="1845">6:45 PM</option>
        <option value="1900">7:00 PM</option>
        <option value="1915">7:15 PM</option>
        <option value="1930">7:30 PM</option>
        <option value="1945">7:45 PM</option>
        <option value="2000">8:00 PM</option>
        <option value="2015">8:15 PM</option>
        <option value="2030">8:30 PM</option>
        <option value="2045">8:45 PM</option>
        <option value="2100">9:00 PM</option>
        <option value="2115">9:15 PM</option>
        <option value="2130">9:30 PM</option>
        <option value="2145">9:45 PM</option>
        <option value="2200">10:00 PM</option>
        <option value="2215">10:15 PM</option>
        <option value="2230">10:30 PM</option>
        <option value="2245">10:45 PM</option>
        <option value="2300">11:00 PM</option>
        <option value="2315">11:15 PM</option>
        <option value="2330">11:30 PM</option>
        <option value="2345">11:45 PM</option>
    </select>
</div>