<table class="table table-bordered">
    <tbody>
        <tr id="1" >
            <td class="time" value="1215">12:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="2" >
            <td class="time" value="1230">12:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="3" >
            <td class="time" value="1245">12:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="4" >
            <td class="time" value="0100">1:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="5" >
            <td class="time" value="0115">1:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="6" >
            <td class="time" value="0130">1:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="7" >
            <td class="time" value="0145">1:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="8" >
            <td class="time" value="0200">2:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="9" >
            <td class="time" value="0215">2:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="10">
            <td class="time"  value="0230">2:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="11">
            <td class="time"  value="0245">2:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="12">
            <td class="time"  value="0300">3:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="13">
            <td class="time"  value="0315">3:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="14">
            <td class="time"  value="0330">3:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="15">
            <td class="time"  value="0345">3:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="16">
            <td class="time"  value="0400">4:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="17">
            <td class="time"  value="0415">4:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="18">
            <td class="time"  value="0430">4:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="19">
            <td class="time"  value="0445">4:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="20">
            <td class="time"  value="0500">5:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="21">
            <td class="time"  value="0515">5:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="22">
            <td class="time"  value="0530">5:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="23">
            <td class="time"  value="0545">5:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="24">
            <td class="time"  value="0600">6:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="25">
            <td class="time"  value="0615">6:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="26">
            <td class="time"  value="0630">6:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="27">
            <td class="time"  value="0645">6:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="28">
            <td class="time"  value="0700">7:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="29">
            <td class="time"  value="0715">7:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="30">
            <td class="time"  value="0730">7:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="31">
            <td class="time"  value="0745">7:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="32">
            <td class="time"  value="0800">8:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="33">
            <td class="time"  value="0815">8:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="34">
            <td class="time"  value="0830">8:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="35">
            <td class="time"  value="0845">8:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="36">
            <td class="time"  value="0900">9:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="37">
            <td class="time"  value="0910">9:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="38">
            <td class="time"  value="0930">9:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="39">
            <td class="time"  value="0945">9:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="40">
            <td class="time"  value="1000">10:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="41">
            <td class="time"  value="1015">10:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="42">
            <td class="time"  value="1030">10:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="43">
            <td class="time"  value="1045">10:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="44">
            <td class="time"  value="1100">11:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="45">
            <td class="time"  value="1115">11:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="46">
            <td class="time"  value="1130">11:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="47">
            <td class="time"  value="1145">11:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="48">
            <td class="time"  value="1200">12:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="49">
            <td class="time"  value="1215">12:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="50">
            <td class="time"  value="1230">12:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="51">
            <td class="time"  value="1245">12:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="52">
            <td class="time"  value="1300">1:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="53">
            <td class="time"  value="1315">1:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="54">
            <td class="time"  value="1330">1:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="55">
            <td class="time"  value="1345">1:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="56">
            <td class="time"  value="1400">2:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="57">
            <td class="time"  value="1415">2:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="58">
            <td class="time"  value="1430">2:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="59">
            <td class="time"  value="1445">2:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="60">
            <td class="time"  value="1500">3:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="61">
            <td class="time"  value="1515">3:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="62">
            <td class="time"  value="1530">3:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="63">
            <td class="time"  value="1545">3:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="64">
            <td class="time"  value="1600">4:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="65">
            <td class="time"  value="1615">4:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="66">
            <td class="time"  value="1630">4:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="67">
            <td class="time"  value="1645">4:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="68">
            <td class="time"  value="1700">5:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="69">
            <td class="time"  value="1715">5:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="70">
            <td class="time"  value="1730">5:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="71">
            <td class="time"  value="1745s">5:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="72">
            <td class="time"  value="1800">6:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="73">
            <td class="time"  value="1815">6:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="74">
            <td class="time"  value="1830">6:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="75">
            <td class="time"  value="1845">6:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="76">
            <td class="time"  value="1900">7:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="77">
            <td class="time"  value="1915">7:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="78">
            <td class="time"  value="1930">7:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="79">
            <td class="time"  value="1945">7:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="80">
            <td class="time"  value="2000">8:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="81">
            <td class="time"  value="2015">8:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="82">
            <td class="time"  value="2030">8:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="83">
            <td class="time"  value="2045">8:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="84">
            <td class="time"  value="2100">9:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="85">
            <td class="time"  value="2115">9:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="86">
            <td class="time"  value="2130">9:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="87">
            <td class="time"  value="2145">9:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="88">
            <td class="time"  value="2200">10:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="89">
            <td class="time"  value="2215">10:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="90">
            <td class="time"  value="2230">10:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="91">
            <td class="time"  value="2245">10:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="92">
            <td class="time"  value="2300">11:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="93">
            <td class="time"  value="2315">11:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="94">
            <td class="time"  value="2330">11:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="95">
            <td class="time"  value="2345">11:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="96">
            <td class="time"  value="0000">12:00 am</td>
            <td class="no-activity"></td>
        </tr>
    </tbody>
</table>