<table class="table table-bordered">
    <tbody>
        <tr id="385" >
            <td class="time" value="1215">12:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="386" >
            <td class="time" value="1230">12:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="387" >
            <td class="time" value="1245">12:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="388" >
            <td class="time" value="0100">1:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="389" >
            <td class="time" value="0115">1:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="390" >
            <td class="time" value="0130">1:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="391" >
            <td class="time" value="0145">1:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="392" >
            <td class="time" value="0200">2:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="393" >
            <td class="time" value="0215">2:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="394">
            <td class="time"  value="0230">2:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="395">
            <td class="time"  value="0245">2:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="396">
            <td class="time"  value="0300">3:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="397">
            <td class="time"  value="0315">3:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="398">
            <td class="time"  value="0330">3:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="399">
            <td class="time"  value="0345">3:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="400">
            <td class="time"  value="0400">4:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="401">
            <td class="time"  value="0415">4:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="402">
            <td class="time"  value="0430">4:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="403">
            <td class="time"  value="0445">4:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="404">
            <td class="time"  value="0500">5:00 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="405">
            <td class="time"  value="0515">5:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="406">
            <td class="time"  value="0530">5:30 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="407">
            <td class="time"  value="0545">5:45 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="408">
            <td class="time activity"  value="0600">6:00 am</td>
            <td class="has-activity mindful" rowspan="2">
                <span class="description">Mindfulness - Yoga - 30 mins</span>
            </td>
        </tr>
        <tr id="409">
            <td class="time"  value="0615">6:15 am</td>
            <td class="no-activity"></td> 
        </tr>
        <tr id="410">
            <td class="time"  value="0630">6:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="411">
            <td class="time"  value="0645">6:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="412">
            <td class="time"  value="0700">7:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="413">
            <td class="time"  value="0715">7:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="414">
            <td class="time"  value="0730">7:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="415">
            <td class="time"  value="0745">7:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="416">
            <td class="time"  value="0800">8:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="417">
            <td class="time"  value="0815">8:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="418">
            <td class="time"  value="0830">8:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="419">
            <td class="time"  value="0845">8:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="420">
            <td class="time"  value="0900">9:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="421">
            <td class="time"  value="0910">9:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="422">
            <td class="time"  value="0930">9:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="423">
            <td class="time"  value="0945">9:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="424">
            <td class="time"  value="1000">10:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="425">
            <td class="time"  value="1015">10:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="426">
            <td class="time"  value="1030">10:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="427">
            <td class="time"  value="1045">10:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="428">
            <td class="time"  value="1100">11:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="429">
            <td class="time"  value="1115">11:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="430">
            <td class="time"  value="1130">11:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="431">
            <td class="time"  value="1145">11:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="432">
            <td class="time"  value="1200">12:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="433">
            <td class="time"  value="1215">12:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="434">
            <td class="time"  value="1230">12:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="435">
            <td class="time"  value="1245">12:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="436">
            <td class="time"  value="1300">1:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="437">
            <td class="time"  value="1315">1:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="438">
            <td class="time"  value="1330">1:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="439">
            <td class="time"  value="1345">1:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="440">
            <td class="time"  value="1400">2:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="441">
            <td class="time"  value="1415">2:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="442">
            <td class="time"  value="1430">2:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="443">
            <td class="time"  value="1445">2:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="444">
            <td class="time"  value="1500">3:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="445">
            <td class="time"  value="1515">3:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="446">
            <td class="time"  value="1530">3:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="447">
            <td class="time"  value="1545">3:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="448">
            <td class="time"  value="1600">4:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="449">
            <td class="time"  value="1615">4:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="450">
            <td class="time"  value="1630">4:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="451">
            <td class="time"  value="1645">4:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="452">
            <td class="time"  value="1700">5:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="453">
            <td class="time"  value="1715">5:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="454">
            <td class="time"  value="1730">5:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="455">
            <td class="time"  value="1745s">5:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="456">
            <td class="time"  value="1800">6:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="457">
            <td class="time"  value="1815">6:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="458">
            <td class="time"  value="1830">6:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="459">
            <td class="time"  value="1845">6:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="460">
            <td class="time"  value="1900">7:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="461">
            <td class="time"  value="1915">7:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="462">
            <td class="time"  value="1930">7:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="463">
            <td class="time"  value="1945">7:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="464">
            <td class="time"  value="2000">8:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="465">
            <td class="time"  value="2015">8:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="466">
            <td class="time"  value="2030">8:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="467">
            <td class="time"  value="2045">8:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="468">
            <td class="time"  value="2100">9:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="469">
            <td class="time"  value="2115">9:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="470">
            <td class="time"  value="2130">9:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="471">
            <td class="time"  value="2145">9:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="472">
            <td class="time"  value="2200">10:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="473">
            <td class="time"  value="2215">10:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="474">
            <td class="time"  value="2230">10:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="475">
            <td class="time"  value="2245">10:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="476">
            <td class="time"  value="2300">11:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="477">
            <td class="time"  value="2315">11:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="478">
            <td class="time"  value="2330">11:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="479">
            <td class="time"  value="2345">11:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr id="480">
            <td class="time"  value="0000">12:00 am</td>
            <td class="no-activity"></td>
        </tr>
    </tbody>
</table>