<table class="table table-bordered">
    <tbody>
        <tr>
            <div class="activity">
                <td class="time" value="0600">6:00 am</td>
                <td class="has-activity relax" rowspan="2">
                    <span class="description">Relax - Meditate - 30 mins</span>
                </td>
            </div>
        </tr>
        <tr>
            <td class="time" value="0615">6:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0630">6:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0645">6:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0700">07:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0715">7:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0730">07:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0745">07:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0800">08:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0815">08:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0830">08:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0845">08:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0900">9:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0910">9:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0930">9:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0945">09:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1000">10:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1015">10:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1030">10:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1045">10:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1100">11:00 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1115">11:15 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1130">11:30 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1145">11:45 am</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1200">12:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1215">12:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1230">12:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1245">12:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1300">1:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1315">1:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1330">1:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1345">1:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1400">2:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1415">2:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1430">2:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1445">2:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1500">3:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1515">3:15 mp</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1530">3:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1545">3:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1600">4:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1615">4:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1630">4:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1645">4:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1700">5:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1715">5:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1730">5:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1745s">5:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1800">6:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1815">6:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1830">6:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1845">6:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1900">7:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1915">7:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1930">7:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="1945">7:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2000">8:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2015">8:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2030">8:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2045">8:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2100">9:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2115">9:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2130">9:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2145">9:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2200">10:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2215">10:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2230">10:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2245">10:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2300">11:00 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2315">11:15 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2330">11:30 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="2345">11:45 pm</td>
            <td class="no-activity"></td>
        </tr>
        <tr>
            <td class="time" value="0000">12:00 am</td>
            <td class="no-activity"></td>
        </tr>
    </tbody>
</table>