<div class="time dropdown" id="work_start">
    <h5>Work Start Time</h5>
    <select class="browser-default custom-select">
        <option selected>Start Time</option>
        <option value="0000">12:00 AM</option>
        <option value="0100">1:00 AM</option>
        <option value="0200">2:00 AM</option>
        <option value="0300">3:00 AM</option>
        <option value="0400">4:00 AM</option>
        <option value="0500">5:00 AM</option>
        <option value="0600">6:00 AM</option>
        <option value="0700">7:00 AM</option>
        <option value="0800">8:00 AM</option>
        <option value="0900">9:00 AM</option>
        <option value="1000">10:00 AM</option>
        <option value="1100">11:00 AM</option>
        <option value="1200">12:00 PM</option>
        <option value="1300">1:00 PM</option>
        <option value="1400">2:00 PM</option>
        <option value="1500">3:00 PM</option>
        <option value="1600">4:00 PM</option>
        <option value="1700">5:00 PM</option>
        <option value="1800">6:00 PM</option>
        <option value="1900">7:00 PM</option>
        <option value="2000">8:00 PM</option>
        <option value="2100">9:00 PM</option>
        <option value="2200">10:00 PM</option>
        <option value="2300">11:00 PM</option>
    </select>
</div>
<div class="time dropdown" id="work_end">
    <h5>Work End Time</h5>
    <select class="browser-default custom-select">
        <option selected>End Time</option>
        <option value="0000">12:00 AM</option>
        <option value="0100">1:00 AM</option>
        <option value="0200">2:00 AM</option>
        <option value="0300">3:00 AM</option>
        <option value="0400">4:00 AM</option>
        <option value="0500">5:00 AM</option>
        <option value="0600">6:00 AM</option>
        <option value="0700">7:00 AM</option>
        <option value="0800">8:00 AM</option>
        <option value="0900">9:00 AM</option>
        <option value="1000">10:00 AM</option>
        <option value="1100">11:00 AM</option>
        <option value="1200">12:00 PM</option>
        <option value="1300">1:00 PM</option>
        <option value="1400">2:00 PM</option>
        <option value="1500">3:00 PM</option>
        <option value="1600">4:00 PM</option>
        <option value="1700">5:00 PM</option>
        <option value="1800">6:00 PM</option>
        <option value="1900">7:00 PM</option>
        <option value="2000">8:00 PM</option>
        <option value="2100">9:00 PM</option>
        <option value="2200">10:00 PM</option>
        <option value="2300">11:00 PM</option>
    </select>
</div>