<!DOCTYPE html>
<html lang="en">

<<<<<<< HEAD
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' media='screen' href="stylesheets/main.css">
    <script src='javascript/main.js'></script>
=======
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- ADD frameworks here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
</head>
>>>>>>> e4007943f07aeff48569bd2ae02668621b6d6197

<body>
    <style>
        body {
            background-image: url("gradient.png");
            background-size: cover;
            background-position: fixed;
            width: 100%;
            height: 100%;
        }       
    </style>

    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Just Tech News</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>


</html>