{{>aboutcss}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@300&family=Recursive:wght@500&display=swap" rel="stylesheet"> 
    <center>
        <div class="col text-center flex-column" style="margin-top: 5px;">
            <h3>About Recess</h3>
            <p>
                Recess keeps track of your weekly availability so you can schedule your extra-curricular activities.
                <br>
                Once you create an account, you'll be prompted to enter your sleep and work hours to calculate
                your free
                time.
                <br>
                You will then be able to indicate the activity category, length of the activity, the type activity , and Recess will
                add it
                to your calendar.
                <br>
            </p>
            <h3 style="margin-top: 30px;">Contributors</h3>
        </div> 
    </center>

<div class="price_cards">
    <div class="card">
        <section>
            <h1 class="title">Nate Schroeder</h1>
        </section>
            <ul>
                <li>10GB Disk Space</li>
                <li>5GB Band Width</li>
                <li>Bootstrap Plugin</li>
                <li>SMTP Serer</li>
                <li>Usabale Template's</li>
            </ul>
            <button class="btn1">Portfolio</button>
    </div>

    <div class="card">
        <section>
            <h1 class="title">Connor Phillips</h1>
        </section>
            <ul>
                <li>Disk Space 100GB</li>
                <li>Band Width 20GB</li>
                <li>Wordpress Plugins</li>
                <li>SMTP Server</li>
                <li>Usable Template's</li>
            </ul>
            <button class="btn1">Portfolio</button>
    </div>

    <div class="card">
            <section>
                <h1 class="title">Noah Sherman</h1>
            </section>
            <ul>
                <li>Disk Space 100GB</li>
                <li> Width 20GB</li>
                <li>Wordpress Plugins</li>
                <li> Server</li>
                <li>Usable Template's</li>
            </ul>
            <button class="btn1">Portfolio</button>
    </div>

    <div class="card">
            <section>
                <h1 class="title">Idzel Jaimes</h1>
            </section>
            <ul>
                <li>Disk Space 100GB</li>
                <li>Band Width 20GB</li>
                <li>Wordpress Plugins</li>
                <li>SMTP Server</li>
                <li>Usable Template's</li>
            </ul>
            <button class="btn1">Portfolio</button>
    </div>

    <div class="card">
        <section>
            <h1 class="title">Jose Ramirez</h1>
        </section>
        <ul style="margin-bottom: 30%;">
            <li>SCSS & CSS</li>
            <li>Handlebars</li>
            
        </ul>
        <button class="btn1">Portfolio</button>
    </div>
</div>

{{>backtohome}}

{{!-- {{>footer}} --}}

<!--  <script src="/javascript/about.js"></script> -->