<div class="container">
    <div class="row">
        <div class="col text-center flex-column" style="margin-top: 5px;">
            <h3>About Recess</h3>
            <p>
                Recess keeps track of your weekly availability so you can schedule your extra-curricular activities.
                <br>
                Once you create an account, you'll be prompted to enter your sleep and work hours to calculate
                your free
                time.
                <br>
                You will then be able to indicate the activity category, length of the activity, the type activity , and Recess will
                add it
                to your calendar.
                <br>
            </p>
            {{>goback}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list flex-column">
                <li class="li-item">
                    <h3>Contributors</h3>
                </li>
                <li class="li-item">
                    <a class="btn btn-info btn-m mt-2" href="..githubORportfolio" role="button">Connor Phillips</a>
                </li>
                <li class="li-item">
                    <a class="btn btn-info btn-lm mt-2" href="..githubORportfolio" role="button">Ephraim Marbloe</a>
                </li>
                <li class="li-item">
                    <a class="btn btn-info btn-m mt-2" href="..githubORportfolio" role="button">Idzel Jaimes</a>
                </li>
                <li class="li-item">
                    <a class="btn btn-info btn-m mt-2" href="..githubORportfolio" role="button">Jose Ramirez</a>
                </li>
                <li class="li-item">
                    <a class="btn btn-info btn-m mt-2" href="..githubORportfolio" role="button">Nate Schroeder</a>
                </li>
                <li class="li-item">
                    <a class="btn btn-info btn-m mt-2" href="..githubORportfolio" role="button">Noah Sherman</a>
                </li>
            </ul>
        </div>
    </div>
</div>



{{>footer}}

<!--  <script src="/javascript/about.js"></script> -->