
<div class="">
    <p>
        Recess keeps track of your weekly availability so you can schedule your curricular activities.
        <br>
        Once you create an account, you'll be prompted to enter your work hours and sleep hours to calculate your free
        time.
        <br>
        You will then be able to select the type of activity, lenth of the activity, frequency, and Recess will add it
        to your calendar.
        <br>
    </p>
</div>

<a href="/">ARROW BACK</a>


<!--  <script src="/javascript/about.js"></script> -->