<link rel='stylesheet' type='text/css' media='screen' href="stylesheets/about.css">
<link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Raleway:wght@300&family=Recursive:wght@500&display=swap"
    rel="stylesheet">

<center>
    <div class="col text-center flex-column" style="margin-top: 5px;">
        <header>
            <h1>About Recess</h1>
        </header>
        <p>
            Recess keeps track of your weekly availability so you can schedule your extra-curricular activities.
            <br>
            Once you create an account, you'll be prompted to enter your sleep and work hours to calculate
            your free
            time.
            <br>
            You will then be able to indicate the activity category, length of the activity, the type activity , and
            Recess will
            add it
            to your calendar.
            <br>
        </p>
        <center>
            {{>backtohome}}
        </center>
        <h3>Contributors</h3>
    </div>
</center>

<div class="price_cards">
    <div class="card">
        <section>
            <h1 class="title">Nate Schroeder</h1>
        </section>
        <ul>
            <li>Back End</li>
            <li>Api-routes</li>
            <li>Connecting Front-end</li>
            <li>with Back-end</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button class="btn1" onClick='aboutLink(0)'>Portfolio</button>
    </div>

    <div class="card">
        <section>
            <h1 class="title">Connor Phillips</h1>
        </section>
        <ul>
            <li>Disk Space 100GB</li>
            <li>Band Width 20GB</li>
            <li>Wordpress Plugins</li>
            <li>SMTP Server</li>
            <li>Usable Template's</li>
        </ul>
        <button class="btn1" onClick='aboutLink(1)'>Portfolio</button>
    </div>

    <div class="card">
        <section>
            <h1 class="title">Noah Sherman</h1>
        </section>
        <ul>
            <li>Disk Space 100GB</li>
            <li> Width 20GB</li>
            <li>Wordpress Plugins</li>
            <li> Server</li>
            <li>Usable Template's</li>
        </ul>
        <button class="btn1" onClick='aboutLink(2)'>Portfolio</button>
    </div>

    <div class="card">
        <section>
            <h1 class="title">Idzel Jaimes</h1>
        </section>
        <ul>
            <li>Handlebars</li>
            <li>Bootstrap</li>
            <li>Css</li>
            <li>Partials</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button class="btn1" onClick='aboutLink(3)'>Portfolio</button>
    </div>

    <div class="card">
        <section>
            <h1 class="title">Jose Ramirez</h1>
        </section>
        <ul>
            <li>SCSS and CSS</li>
            <li>Handlebars</li>
            <li>Partials</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <button class="btn1" onClick='aboutLink(4)'>Portfolio</button>
    </div>
</div>
<script>
    const GC_LINKS = [
        'https://n8dogg59.github.io/first-portfolio-project/',
        '',
        '',
        'https://irjaimes.github.io/portfolio/',
        'https://pepermz.github.io/portfolio/',
    ]
    function aboutLink(idx) {
        alert(GC_LINKS[idx]);
        //window.open (GC_LINKS[idx]);
        window.location.replace(GC_LINKS[idx]);
    }
</script>