<link rel='stylesheet' type='text/css' media='screen' href="stylesheets/activityform.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">



<div class="main" style="height: 450px;" method="post" action="login">
    <p class="sign categoryName" style="margin-bottom: 20px;" align="center" id="academics">Academics</p>
    <form class="column" style="column-gap: 40px;" action="">
        <div class="activityform">
            <span style=" font-size:large; color:#8C55AA; ">Activity Duration</span></br>
            <select class="un activityLength" style="border-radius: 5px; max-width: 500px; margin-left:px" aria-label=".form-select-lg" required>
                <option selected>Duration</option>
                <option value="15">15 MIN</option>
                <option value="30">30 MIN</option>
                <option value="45">45 MIN</option>
                <option value="60">1 HR</option>
                <option value="75">1 HR 15 MIN</option>
                <option value="90">1 HR 30 MIN</option>
                <option value="105">1 HR 45 MIN</option>
                <option value="120">2 HR</option>
            </select>
        </div>
        <div class="activityform">
            <span>
                <label for="activity-type" class="label" style=" font-size:large; color:#8C55AA;">
                    Enter activity type:
                </label>
                </br>
                <input type="text" class="un" id="activity-type" name="activity-type" style="margin-bottom: 30px;" placeholder="ex: running" required>
            </span>
        </div>

        <button type="submit" class="btn" href="/categories" id="activities" value="submit">Save Activity</button>

    </form>
        <a type="submit" class="btn" href="/schedule" value="submit">View Schedule</a>

</div>

<script src="/javascript/activity.js"></script>
