{{>activityformcss}}

<div class="main" method="post" action="login">
    <p class="sign" align="center">Select Duration</p>
    <form class="flex-column" action="">
        {{!-- <div class="activity-form-content dropdown">
            <h5>Select Category</h5>
            <select class="form-select select-category form-select-lg mb-3" aria-label=".form-select-lg" required>
                <option selected>Category</option>
                <option value="1">Exercise</option>
                <option value="2">Mindfulness</option>
                <option value="3">Relaxation</option>
                <option value="4">Relaxation</option>
                <option value="5">Academic</option>
                <option value="6">Other</option>
            </select>
        </div> --}}
        <div class="activity-form-content dropdown">
            <h5>Select Duration</h5>
            <select class="dropdown" aria-label=".form-select-lg" required>
                <option selected>Duration</option>
                <option value="0015">15 MIN</option>
                <option value="0030">30 MIN</option>
                <option value="0045">45 MIN</option>
                <option value="0100">1 HR</option>
                <option value="0115">1 HR 15 MIN</option>
                <option value="0130">1 HR 30 MIN</option>
                <option value="0145">1 HR 45 MIN</option>
                <option value="0200">2 HR</option>
            </select>
        </div>
        <div class="activity-form-content">
            <h5>
                <label for="activity-type" class="col-sm-2 col-form-label-lg">
                    Enter activity type:
                </label>
                <input type="text" id="activity-type" name="activity-type" placeholder="ex: running" required>
            </h5>
        </div>

        <button type="submit" class="btn" href="/categories" value="submit">Save Activity</button>
        <button type="submit" class="btn" href="/schedule" value="submit">View Schedule</button>

    </form>
</div>
