<div class="form-content">
  <div class="form-header">
    <h4 class="form-title">{title}</h4>
    <!--<button type="button" class="btn-close" data-bs-dismiss="form" aria-label="Close"></button>-->
  </div>
  <div class="form-body">
    <form id="activity">
      
      





    </form>
  </div>
  <div class="form-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="form">Close</button>
    <button type="button" class="btn btn-primary" href="..activityForm">Add Activity</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</div>
</div>