<div class="container">
    <div class="row">
        <!-- navigation here -->
        <div class="col">
            <ul class="list flex-column">
                <li class="list-item">
                    <h2>Select Activity Category</h2>
                </li>
                <li class="list-item">
                    <!--connect to modal-->
                    <a class="btn btn-info btn-lg mt-4" role="button">Exercise</a>
                </li>
                <li class="list-item">
                    <a class="btn btn-info btn-lg mt-4"  role="button">Mindfulness</a>
                </li>
                <li class="list-item">
                    <a class="btn btn-info btn-lg mt-4"  role="button">Relaxation</a>
                </li>
                <li class="list-item">
                    <a class="btn btn-info btn-lg mt-4"  role="button">Academic</a>
                </li>
                <li class="list-item">
                    <a class="btn btn-info btn-lg mt-4"  role="button">Other</a>
                </li>
                <li class="list-item">
                    <a class="btn btn-primary btn-lg mt-4" href="/schedule" role="button">View Schedule</a>
                </li>
            </ul>
        </div>

    </div>
</div>
