{{>categoriescss}}

<body>
   <header>
    <h1>Choose a Category</h1>
  </header>
  <div class="container">
    <div class="card card-1">
      <div class="card-tags">
        <a href="#" class="btn">Exercise</a>
      </div>
    </div>
    <div class="card card-2"> 
      <div class="card-tags">
        <a href="#" class="btn">Mindfulness</a>
      </div>
    </div>
    <div class="card card-3">    
      <div class="card-tags">
        <a href="#" class="btn">Academics</a>
      </div>
    </div>
    <div class="card card-4">   
      <div class="card-tags">
        <a href="#" class="btn">Relaxation</a>
      </div>
    </div>
    <div class="card card-5">   
      <div class="card-tags">
        <a href="#" class="btn">Other</a>
      </div>
    </div>
  </div>
      {{>backtodash}}
</body>
</html>