<!DOCTYPE html>
<html>

<body>

    <img src="Logo.png" alt="Recess" style="width:750px;height:300px; margin-left: 350px; margin-top: 200px; margin-bottom: 100px;">
    <div class="button">
    
    <a href="login" style="text-decoration: none;">Log In</a>
    </div>
</body>
</html>