<img id="logo" src="lowgow.png" alt="Recess"
    style="width:750px;height:300px; margin-left: 350px; margin-top: 200px; margin-bottom: 100px;filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .2));">
<div class="container">
    <a class="nav-btn" href="signup">Sign Up</a>
    <a class="nav-btn" href="about">About Us</a>
    <a class="nav-btn" href="login">Log In</a>
</div>
