<<<<<<< HEAD
<!DOCTYPE html>
<html>
=======
<div class="container">
  <div class="row">
    <div class="col text-center flex-column" style="margin-top: 200px;">
      <a class="btn btn-primary btn-lg mt-5" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg mt-5" href="/about" role="button">About</a>
      <a class="btn btn-primary btn-lg mt-5" href="/login" role="button">Login</a>
    </div>
  </div>
</div>
>>>>>>> e4007943f07aeff48569bd2ae02668621b6d6197

<body>

    <img src="Logo.png" alt="Recess" style="width:750px;height:300px; margin-left: 350px; margin-top: 200px; margin-bottom: 100px;">
    <div class="button">
    <a href="signup">Sign Up</a>
    <a href="about">About Us</a>
    <a href="login">Log In</a>
    </div>
</body>
</html>