<html>
<center>
<body>
    <img src="lowgow.png" alt="Recess" style="width:750px;height:300px; mmargin-left: 350px; margin-top: 200px; margin-bottom: 100px;filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .2));">
    {{!-- <img src="logophone.png" class="logophone"/> --}}
    <div class="button">
    <a href="signup" style="text-decoration: none;">Sign Up</a>
    <a href="about" style="text-decoration: none;">About Us</a>
    <a href="login" style="text-decoration: none;">Log In</a>
    </div>
</body>
</center>
</html>
