
  <div class="container">
    <div style="margin-top: 80px; margin-bottom: 80px;" class="jumbotron text-center">
      
      <a class="btn btn-primary btn-lg mt-5" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-primary btn-lg mt-5" href="/about" role="button">About</a>
      <a class="btn btn-primary btn-lg mt-5" href="/login" role="button">Login</a>
    </div>
  </div>

<!--  <script src="/javascript/???.js"></script> -->
