<div class="main"  method="post" action="login">
    <h2 class="form-title">Log in</h2>
    <form class="login-form">
        <div>
            <input class="input-field" type="text" align="center" id="email-login" placeholder="Email" />
        </div>
        <div>
            <input class="input-field" type="password" align="center" id="password-login" placeholder="Password" />
        </div>
        <div>
            <button class="submit" type="submit">login</button>
        </div>
        <div class="nav-back">
             <a class="nav" href="/signup">Not a user? Create profile</a>
        </div>
       
    </form>
</div>

<script src="/javascript/login.js"></script>