{{>logincss}}

    <div class="main" method="post" action="login">
    <p class="sign" align="center">Log in</p>
    {{!-- <form class="form1">
      <input class="un" type="text" align="center" id="email-login" placeholder="Email">
      <input class="pass" type="password" align="center" id="password-login" placeholder="Password">
      <button class="submit" type="submit" align="center">Log in</button>
    </form>        --}}
      <form class="login-form">
                    <div>
                        <label for="email-login">email:</label>
                        <input class="un" type="text" align="center" id="email-login" placeholder="Email"/>
                    </div>
                    <div>
                        <label for="password-login">password:</label>
                        <input class="pass" type="password" align="center" id="password-login" placeholder="Password"/>
                    </div>
                    <div>
                        <button type="submit">login</button>
                    </div>
                </form>          
    </div>
   

    <a class= "user" href="/signup" style="margin-left: 650px;">Not a user? Create profile</a>	
</body>

</html>

<script src="/javascript/login.js"></script>
