<link rel='stylesheet' type='text/css' media='screen' href="stylesheets/activityform.css">
<center>
<div class="main activity-form" method="post" action="login">
    <h2 class="sign categoryName form-title" id="academics">Other</h2>
    <form id="activity-intake-form">
        <div class="duration">
            <label for="activity-type" class="label">
                Activity Duration
            </label>
            </br>
            <select class="un activityLength"required>
                <option selected>Duration</option>
                <option value="15">15 MIN</option>
                <option value="30">30 MIN</option>
                <option value="45">45 MIN</option>
                <option value="60">1 HR</option>
                <option value="75">1 HR 15 MIN</option>
                <option value="90">1 HR 30 MIN</option>
                <option value="105">1 HR 45 MIN</option>
                <option value="120">2 HR</option>
            </select>
        </div>
        <div class="activity">
            <label for="activity-type" class="label">
                Enter activity type:
            </label>
            <input type="text" class="un" id="activity-type" name="activity-type" placeholder="ex: running" required>
            <div>
                <button type="submit" class="submit" href="/categories" id="activities" value="submit">Save
                    Activity</button>
            </div>
        </div>
        <div class="nav-buttons">
                <div class="btn-wrapper"><a class="submit" id="add-activity" href="/categories" value="submit">Go Back</a></div>
                <div class="btn-wrapper"><a class="submit" id="view-schedule" href="/schedule" value="submit">View Schedule</a></div>
        </div>
    </form>
</div>
</center>

<script src="/javascript/activity.js"></script>