<link rel="stylesheet" href="stylesheets/presetschedule.css">
<center>
    <div class="main">
        <div class="formheader">
            <h2 class="form-title">Enter Work Schedule</h2>
        </div>
        <div class="form-body">
            <form>
                <div class="days">
                    <label class="day-label" for="sunday">Sunday
                        <input type="checkbox" class="checkbox" id="sunday" name="sunday">
                    </label>

                    <label class="day-label" for="monday">Monday
                        <input type="checkbox" class="checkbox" id="monday" name="monday">
                    </label>

                    <label class="day-label" for="tuesday">Tuesday
                        <input type="checkbox" class="checkbox" id="tuesday" name="tuesday">
                    </label>

                    <label class="day-label" for="wednesday">Wednesday
                        <input type="checkbox" class="checkbox" id="wednesday" name="wednesday">
                    </label>

                    <label class="day-label" for="thursday">Thursday
                        <input type="checkbox" class="checkbox" id="thursday" name="thursday">
                    </label>

                    <label class="day-label" for="friday">Friday
                        <input type="checkbox" class="checkbox" id="friday" name="friday">
                    </label>

                    <label class="day-label" for="saturday">Saturday
                        <input type="checkbox" class="checkbox" id="saturday" name="saturday">
                    </label>
                </div>
                <div>
                    {{> workHrs }}
                    <div class="formheader1">
                        <h2 class="form-title" style="margin-bottom: 5%;" id="sleep">Enter Sleep Schedule</h2>
                    </div>
                    {{> sleepHrs }}
                </div>
                <div class='buttonDiv'>
                    <!--after submitting form redirect to categories page-->
                    {{!-- <div class="nav-buttons"> --}}
                        <div class="btn-wrapper">
                            <button type="submit" class="submit" id="save" href="/categories">Save Changes</button>
                            <a class="submit" id="back-to-dash" type="submit" href="/dashboard">Go Back</a>
                        </div>
                    {{!-- </div> --}}
                </div>
        </div>
        </form>
    </div>
    </div>
</center>
<script src="/javascript/presetschedule.js"></script>

{{!-- {{>footer}} --}}