<div class="form-content">
    <div class="form-header">
        <h2 class="form-title">Enter Sleep &#38 Work Schedule</h2>
    </div>
    <div class="form-body">
        <form action="">

            <div class="days">
                <label class="day" for="sunday">Sunday
                    <input type="checkbox" id="sunday" name="sunday">
                </label>
                <label class="day" for="monday">Monday
                    <input type="checkbox" id="monday" name="monday">
                </label>
                <label class="day" for="tuesday">Tuesday
                    <input type="checkbox" id="tuesday" name="tuesday">
                </label>
                <label class="day" for="wednesday">Wednesday
                    <input type="checkbox" id="wednesday" name="wednesday">
                </label>
                <label class="day" for="thursday">Thursday
                    <input type="checkbox" id="thursday" name="thursday">
                </label>
                <label class="day" for="friday">Friday
                    <input type="checkbox" id="friday" name="friday">
                </label>
                <label class="day" for="saturday">Saturday
                    <input type="checkbox" id="saturday" name="saturday">
                </label>
            </div>
            {{> sleep }}
            {{> work }}
            <div>
                <!--after submitting form redirect to categories page-->
                <button type="submit" class="btn btn-primary" href="/categories">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/presetschedule.js"></script>
{{>backtodash}}
{{>footer}}