<div class="form-content">
    <div class="form-header">
        <h4 class="form-title">Enter your sleep &#38 work schedule</h4>
        <!--<button type="button" class="btn-close" data-bs-dismiss="form" aria-label="Close"></button>-->
    </div>
    <div class="form-body">
        <form id="activity">

            <div class="days">
                <label class="day" for="sunday">Sunday
                    <input type="checkbox" id="sunday" name="sunday">
                </label>
                <label class="day" for="monday">Monday
                    <input type="checkbox" id="monday" name="monday">
                </label>
                <label class="day" for="tuesday">Tuesday
                    <input type="checkbox" id="tuesday" name="tuesday">
                </label>
                <label class="day" for="wednesday">Wednesday
                    <input type="checkbox" id="wednesday" name="wednesday">
                </label>
                <label class="day" for="thursday">Thursday
                    <input type="checkbox" id="thursday" name="thursday">
                </label>
                <label class="day" for="friday">Friday
                    <input type="checkbox" id="friday" name="friday">
                </label>
                <label class="day" for="saturday">Saturday
                    <input type="checkbox" id="saturday" name="saturday">
                </label>
            </div>

            <div class="time dropdown">
                <h5>Sleep Start Time</h5>
                <select class="form-select sleep-start form-select-lg mb-3" aria-label=".form-select-lg">
                    <option selected>Start Time</option>
                    <option value="0000">12:00 AM</option>
                    <option value="0100">1:00 AM</option>
                    <option value="0200">2:00 AM</option>
                    <option value="0300">3:00 AM</option>
                    <option value="0400">4:00 AM</option>
                    <option value="0500">5:00 AM</option>
                    <option value="0600">6:00 AM</option>
                    <option value="0700">7:00 AM</option>
                    <option value="0800">8:00 AM</option>
                    <option value="0900">9:00 AM</option>
                    <option value="1000">10:00 AM</option>
                    <option value="1100">11:00 AM</option>
                    <option value="1200">12:00 PM</option>
                    <option value="1300">1:00 PM</option>
                    <option value="1400">2:00 PM</option>
                    <option value="1500">3:00 PM</option>
                    <option value="1600">4:00 PM</option>
                    <option value="1700">5:00 PM</option>
                    <option value="1800">6:00 PM</option>
                    <option value="1900">7:00 PM</option>
                    <option value="2000">8:00 PM</option>
                    <option value="2100">9:00 PM</option>
                    <option value="2200">10:00 PM</option>
                    <option value="2300">11:00 PM</option>
                </select>
            </div>
            <div class="time dropdown">
                <h5>Sleep End Time</h5>
                <select class="form-select sleep-stop form-select-lg mb-3" aria-label=".form-select-lg">
                    <option selected>End Time</option>
                    <option value="0000">12:00 AM</option>
                    <option value="0100">1:00 AM</option>
                    <option value="0200">2:00 AM</option>
                    <option value="0300">3:00 AM</option>
                    <option value="0400">4:00 AM</option>
                    <option value="0500">5:00 AM</option>
                    <option value="0600">6:00 AM</option>
                    <option value="0700">7:00 AM</option>
                    <option value="0800">8:00 AM</option>
                    <option value="0900">9:00 AM</option>
                    <option value="1000">10:00 AM</option>
                    <option value="1100">11:00 AM</option>
                    <option value="1200">12:00 PM</option>
                    <option value="1300">1:00 PM</option>
                    <option value="1400">2:00 PM</option>
                    <option value="1500">3:00 PM</option>
                    <option value="1600">4:00 PM</option>
                    <option value="1700">5:00 PM</option>
                    <option value="1800">6:00 PM</option>
                    <option value="1900">7:00 PM</option>
                    <option value="2000">8:00 PM</option>
                    <option value="2100">9:00 PM</option>
                    <option value="2200">10:00 PM</option>
                    <option value="2300">11:00 PM</option>
                </select>
            </div>
            <div class="time dropdown">
                <h5>Work Start Time</h5>
                <select class="form-select work-start form-select-lg mb-3" aria-label=".form-select-lg">
                    <option selected>Start Time</option>
                    <option value="0000">12:00 AM</option>
                    <option value="0100">1:00 AM</option>
                    <option value="0200">2:00 AM</option>
                    <option value="0300">3:00 AM</option>
                    <option value="0400">4:00 AM</option>
                    <option value="0500">5:00 AM</option>
                    <option value="0600">6:00 AM</option>
                    <option value="0700">7:00 AM</option>
                    <option value="0800">8:00 AM</option>
                    <option value="0900">9:00 AM</option>
                    <option value="1000">10:00 AM</option>
                    <option value="1100">11:00 AM</option>
                    <option value="1200">12:00 PM</option>
                    <option value="1300">1:00 PM</option>
                    <option value="1400">2:00 PM</option>
                    <option value="1500">3:00 PM</option>
                    <option value="1600">4:00 PM</option>
                    <option value="1700">5:00 PM</option>
                    <option value="1800">6:00 PM</option>
                    <option value="1900">7:00 PM</option>
                    <option value="2000">8:00 PM</option>
                    <option value="2100">9:00 PM</option>
                    <option value="2200">10:00 PM</option>
                    <option value="2300">11:00 PM</option>
                </select>
            </div>
            <div class="time dropdown">
                <h5>Work End Time</h5>
                <select class="form-select work-stop form-select-lg mb-3" aria-label=".form-select-lg">
                    <option selected>End Time</option>
                    <option value="0000">12:00 AM</option>
                    <option value="0100">1:00 AM</option>
                    <option value="0200">2:00 AM</option>
                    <option value="0300">3:00 AM</option>
                    <option value="0400">4:00 AM</option>
                    <option value="0500">5:00 AM</option>
                    <option value="0600">6:00 AM</option>
                    <option value="0700">7:00 AM</option>
                    <option value="0800">8:00 AM</option>
                    <option value="0900">9:00 AM</option>
                    <option value="1000">10:00 AM</option>
                    <option value="1100">11:00 AM</option>
                    <option value="1200">12:00 PM</option>
                    <option value="1300">1:00 PM</option>
                    <option value="1400">2:00 PM</option>
                    <option value="1500">3:00 PM</option>
                    <option value="1600">4:00 PM</option>
                    <option value="1700">5:00 PM</option>
                    <option value="1800">6:00 PM</option>
                    <option value="1900">7:00 PM</option>
                    <option value="2000">8:00 PM</option>
                    <option value="2100">9:00 PM</option>
                    <option value="2200">10:00 PM</option>
                    <option value="2300">11:00 PM</option>
                </select>
            </div>

            <div>
                <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="form">Close</button>-->
                <!--show after submitting sleep & work times-->
                <a class="btn btn-primary" href="/activities">Add Activity</a>
                <button type="submit" class="btn btn-primary" method="post">Save changes</button>
            </div>
        </form>
    </div>


</div>

{{>footer}}