<div class="container">
    <div class="row">
        <div class="col">
            <h4>Here is this week's routine</h4>
        </div>
    </div>
    <!-- schedule here -->
    <div class="row">
        <div class="col day">
            SUNDAY
        </div>
        <div class="col day">
            MONDAY
        </div>
        <div class="col day">
            TUESDAY
        </div>
        <div class="col day">
            WEDNESDAY
        </div>
        <div class="col day">
            THURDAY
        </div>
        <div class="col day">
            FRIDAY
        </div>
        <div class="col day">
            SATURDAY
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="/dashboard">ARROW BACK</a>
        </div>
    </div>

</div>

