{{>bootstrap}}
<link rel="stylesheet" href="stylesheets/schedule.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<header>
  <h1>Your Weekly Schedule</h1>
</header>

<div class="accordion accordion-flush" id="week">

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSunday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseSunday" aria-expanded="false" aria-controls="collapseSunday">
        Sunday
      </button>
    </h2>
    <div id="collapseSunday" class="accordion-collapse collapse" aria-labelledby="headingSunday" data-bs-parent="#week">
      <div class="accordion-body">
        {{>sundayHrs}}
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingMonday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseMonday" aria-expanded="false" aria-controls="collapseMonday">
        Monday
      </button>
    </h2>
    <div id="collapseMonday" class="accordion-collapse collapse" aria-labelledby="headingMonday" data-bs-parent="#week">
      <div class="accordion-body">
        {{>mondayHrs}}
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTuesday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseTuesday" aria-expanded="false" aria-controls="collapseTuesday">
        Tuesday
      </button>
    </h2>
    <div id="collapseTuesday" class="accordion-collapse collapse" aria-labelledby="headingTuesday"
      data-bs-parent="#week">
      <div class="accordion-body">
        {{>tuesdayHrs}}
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingWednesday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseWednesday" aria-expanded="false" aria-controls="collapseWednesday">
        Wednesday
      </button>
    </h2>
    <div id="collapseWednesday" class="accordion-collapse collapse" aria-labelledby="headingWednesday"
      data-bs-parent="#week">
      <div class="accordion-body">
        {{>wednesdayHrs}}
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThursday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseThursday" aria-expanded="false" aria-controls="collapseThursday">
        Thursday
      </button>
    </h2>
    <div id="collapseThursday" class="accordion-collapse collapse" aria-labelledby="headingThursday"
      data-bs-parent="#week">
      <div class="accordion-body">
        {{>thursdayHrs}}
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFriday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseFriday" aria-expanded="false" aria-controls="collapseFriday">
        Friday
      </button>
    </h2>
    <div id="collapseFriday" class="accordion-collapse collapse" aria-labelledby="headingFriday" data-bs-parent="#week">
      <div class="accordion-body">
        {{>fridayHrs}}
      </div>
    </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSaturday">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseSaturday" aria-expanded="false" aria-controls="collapseSaturday">
        Saturday
      </button>
    </h2>
    <div id="collapseSaturday" class="accordion-collapse collapse" aria-labelledby="headingSaturday"
      data-bs-parent="#week">
      <div class="accordion-body">
        {{>saturdayHrs}}
      </div>
    </div>
</div>

<div class="btns">
  <a class="btn btn-info" id="save" href="/calendar">View Calendar</a>
  <a class="btn btn-info" id="back" href="/categories">View Categories</a>
  <a class="btn btn-info" id="home" href="/dashboard">Home</a>
</div>

<script src="/javascript/schedule.js"></script>
