<h2>Create Account</h2>
<br>
<form class="signup-form">
    <div>
        <label for="username-signup">First Name:</label>
        <input type="text" id="first-name" />
    </div>
    <div>
        <label for="email-signup">Last Name</label>
        <input type="text" id="last-name" />
    </div>
    <div>
        <label for="password-signup">Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>

{{>goback}}
{{>footer}}

<script src="/javascript/login.js"></script>