<div class="main" id="signup" method="post" action="login">
    <h2 class="form-title">Create Your Account</h2>
    <form class="signup-form">
        <div>
            <input class="input-field " type="text" align="center" id="first-name"
                placeholder="Enter your first name" />
        </div>
        <div>
            <input class="input-field " type="text" align="center" id="last-name" placeholder="Enter your last name"/>
        </div>
        <div>
            <input class="input-field " type="text" align="center" id="email-login" placeholder="Enter your Email"/>
        </div>
        <div>
            <input class="input-field" type="password" align="center" id="password-login"
                placeholder=" Create a password"/>
        </div>
        <div>
            <button type="submit" class="submit" align="center">Sign me up!</button>
        </div>
        <div class="nav-button">
             <a class="nav" id="back" href="/">Home</a>
        </div>
    </form>
</div>

<script src="/javascript/sign-up.js"></script>