<h2>Create your profile here</h2>
<br>
<form class="signup-form">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname" placeholder="First Name">
    <br>
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname" placeholder="Last Name">
    <br>
    <label for="email">email:</label>
    <input type="email" id="email" name="email" placeholder="username@domain.com">
    <br>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password" placeholder="password" minlength="8" required>
    <br>
    <input type="button" id="submit" name="submit" value="Submit">
</form>

<a href="/">ARROW BACK</a>



<!--  <script src="/javascript/signup.js"></script> -->