body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    
}

.container {
    justify-self: center;
    text-align: center;
    margin-right: 400px;
    margin-top: 100px;
    font-size: x-large;
    padding-bottom: 30px;
}