@charset "UTF-8";
@import url(“https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap”);
.container-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* max-width: 1100px;
  margin: auto; */
}

.card {
  position: relative;
  min-width: 200px;
  max-width: 25%;
  height: 300px;
  color: #FFFFFF;
  -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.2));
  margin: 0.5rem auto;
  border-radius: 20px;
  margin-top: 130px;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 8%;
  padding: 1rem;
  margin: auto;
  line-height: 1.6;
}

.card-content p, .card-content .btn {
  display: none;
}

/* Card image */
.container-cat .card-1 {
  background: url(../Exercise.png) no-repeat center center/cover;
}

.container-cat .card-2 {
  background: url(../Mindfulnes.png) no-repeat center center/cover;
}

.container-cat .card-3 {
  background: url(../Academics.png) no-repeat center center/cover;
}

.container-cat .card-4 {
  background: url(../Relaxation.png) no-repeat center center/cover;
}

.container-cat .card-5 {
  background: url(../Other.png) no-repeat center center/cover;
}

/* Add a dark overlay for text visibility */
.card::before {
  content: ‘’;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card .card-tags {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem auto;
}

/* Tags */
/* Button */
.btn {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  margin: 1.2rem auto;
}

.btn:hover {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* Hover */
.card-content:hover {
  padding: 1rem;
}

.card:hover::before {
  content: ‘’;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 4px #535353;
  box-shadow: 4px 4px 4px #535353;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card-content:hover + div {
  display: none;
}

.card-content:hover p, .card-content:hover .btn {
  display: block;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.card-content:hover h3 {
  -webkit-transform: scale(0.8) translateY(-30px);
  transform: scale(0.8) translateY(-30px);
}
/*# sourceMappingURL=categories.css.map */