.logo{
    width:750px;
    height:300px;
    margin-left: 25%; 
    margin-top: 15%;
    margin-bottom: 8%;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));

}

.phone{
    display: none;
}

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    font-weight: bolder;
    margin-left: 18%;
  
}

.container1 {
    margin-left: 5%;
    margin-bottom: 500%;
}

@media (max-width: 600px) {
    .logo {
      display: none;
    }
    .phone {
        display: inline;
        max-height: 50%;
        max-width: 50%;
        margin-left: 25%;
        margin-top: auto;
        margin-bottom: 50%;
    }
    .container1 {
        display:inline-flex;
        margin-top: 28%;
        display: inline;
        

      }
    .btn {
        padding: 10px 26px;
        width: 75%;
        margin-left: auto;
        justify-content: center;

    }
  }