
div#week {
    margin-top: 2em;
}
.accordion-item {
    background-color: transparent;
}
.accordion-button {
    font-size: 1em;
    color: snow;
    font-weight: bold;
    background-color: rgba(252, 142, 243, 0.789);
}

div button[aria-expanded="true"]{
    background-color: #42DCA3;
}

tbody {
    /* background: linear-gradient(47deg, rgba(227, 1, 163, 0.467) 0%, rgba(7,171,242,0.989233193277311) 49%, rgba(227,1,164,1) 100%); */

}
td.time {
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 20%;
}
td.has-activity {
    background-color: rgba(31, 204, 187, 0.912);
    color: rgb(55, 55, 55);
    font-size: 1em;
    font-weight: bold;
} 
div.activity{
    color: #fff;
    font-weight: lighter;
}

